<%= form_for(@calculated_game_statistic) do |f| %>
  <% if @calculated_game_statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculated_game_statistic.errors.count, "error") %> prohibited this calculated_game_statistic from being saved:</h2>

      <ul>
      <% @calculated_game_statistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
