<h1>Tweets</h1>
                <ul>
        <% if(@tweet_log && @tweet_log.count()>0) %>
<% @tweet_log.last(20).reverse.each do |x| %>
<li>   <%= x %>  </li>
<% end %>
                      </ul>
    <% else %>
           No Tweets
    <% end %>
</table>

<br />

<%= link_to 'New User reported statistic', new_user_reported_statistic_path %>
